*.kicad_pro
*.kicad_prl
*.kicad_dru
*.lck
*.FCBak
jlcpcb
.DS_Store
__pycache__/
*.pyc
*-backups
fp-info-cache
*.dmg
*.step
!/kicad-library/3dmodels/**/*.step
/kikakuka-library.zip
/kikakuka-plugin.zip
/workdir/
